<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>

    <a href="http://localhost:4000/logout" class="log">Logout</a>
    <li>
<a href="http://localhost:4000/users" class="users">Users List</a>
</li>

</body>
</html>
