<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="home">Home</a></li>
                
                    <li><a href="/login" id="login">Login</a></li>
                    <li><a href="/register" id="register">Register</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <div id="text">
        <pre>
        <h1>Welcome To The</h1>
    <span>Home Page!</span></h1></pre>
        <img src="https://static.vecteezy.com/system/resources/previews/002/597/151/large_2x/register-new-account-vector.jpg">
    </div>
</body>
</html>
