body {
    background-image: url('welcome.png');
    background-repeat: no-repeat;
    background-size: auto;
}


nav {
    background-color: transparent;
    box-shadow: 0px 0px 60px rgb(119, 0, 255);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    display: flex;
   
    padding: 0;
    margin: 0;
    width: 100%;
}
#login{
    margin-left: 900px;
}
#register{
    margin-left: 40px;
}
nav ul li {
    list-style: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    background-color: #f6faf9;
    color: rgb(37, 36, 36);
    padding: 20px;
    border-radius: 30px;
}
nav ul li a:hover{
box-shadow: 0px 0px 60px rgb(255, 0, 179);
}
nav ul li a:active {
    background-color: blue;
    color: wheat;
}



